--- 
layout: default
title: About Us
permalink: /about
--- 
  <!--/// Blog Area /// -->
  <div class="blog-area pb-5">


    <div class="themeix-page-title-area py-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{page.title}}</h1>
          </div>
        </div>
      </div>
    </div>


    <div class="container pt-5">
      <div class="row">
        <div class="col-md-8">

          <div class="entry-content my-1">
            <p>Newsfeed is a newspaper, magazine and blog style template. It is a perfect fit for Blog, Creative Blog,
              Tech Blog, Lifestyle Blog, Magazine, SEO Blog, News Agencies, Travel & Tour Agencies, Business Magazines,
              Lifestyle Brands, and Technology News websites. It is also suitable for any kinds of publishing or review
              websites that require a sleek, modern, and clean look.</p>
            <p>Installing and customizing this theme is very easy. All required information are provided in
              documentation.</p>

            <h3>Top Freatures of NewsFeed</h3>
            <p>Here following the top features of that template. </p>

            <ul>
              <li>Bootstrap 5 framework based template</li>
              <li>Gulp / SCSS used ( Developer Friendly )</li>
              <li>Magazine / Newspaper / blog style, highly content focused modern design.</li>
              <li>100% reader friendly and content focused </li>
              <li>Fully responsive for all major devices. Specially optimized for the tablet and mobile devices.</li>
              <li>W3C validated code and error free coding</li>
              <li>Image and Text logo both supported</li>
              <li>Unique Logo for mobile devices</li>
              <li>Adsense Ready, you can use leaderboard and standard size ads in that template</li>
              <li>Multiple homepage variation</li>
              <li>Search UI added</li>
              <li>Post navgiation included</li>
              <li>Tooltip feature</li>
              <li>Author Page, Category Page, Tags Page and optimized blog design</li>
              <li>News Ticker included at the top of the webpage</li>
              <li>Exclusive jQuery and CSS3 Effects</li>
              <li>Multi Level Dropdown Menu supported</li>
              <li>Megamenu Supported</li>
              <li>Subscription Form </li>
              <li>Free google fonts used</li>
              <li>Free iconic font support</li>
              <li>Social Media Sharing</li>
              <li>Long-term Support</li>

            </ul>

            <h3>Key Features</h3>
            <p>Here following the key features of that template.</p>
            <h5>W3C Validated</h5>
            <p> Markup validation is an important step towards ensuring the technical quality of web pages</p>

            <h5>High Perfromance </h5>
            <p>Our coding and file arrangement ensures this theme/ template is ligher and it will loads your site faster
            </p>
            <h5>Fully Responsive </h5>
            <p>All the elements are fully responsive and ready for mobile, tablet or any other devices
            </p>

            <h5>Highly Customizable </h5>
            <p>Create something unique and beautlifyully tailored to your needs in a short time by using that template
            </p>
            <h5>Great Support</h5>
            <p>We have 24/7 dedicated support team to help you instantly for any issues or problem
            </p>

            <h5>Well Documented </h5>
            <p>We provide intuitive and detailed documentation, you will get help directly from us if there anything
              missing or not understand by you
            </p>

            <h3>What do you get?</h3>
            <ul>
              <li>HTML Files</li>
              <li>CSS Files</li>
              <li>JS Files</li>
              <li>Online Documentation</li>
            </ul>
            <h3>Sources and Credits</h3>
            <ul>
              <li><a href="https://jquery.com">jQuery</a></li>
              <li><a href="https://getbootstrap.com/">Bootstrap 5</a> ( Mobile first HTML/CSS Framework )</li>
              <li><a href="https://popper.js.org/"></a>Popper JS ( Tooltip & popover positioning engine )</li>
              <li><a href="https://prismjs.com/">Prismjs</a> ( For Syntax Highlight support )</li>
              <li><a href="https://lokeshdhakar.com/projects/lightbox2/">Lightbox</a></li>
              <li><a href="https://gulpjs.com/">Gulp</a> ( A toolkit to automate & enhance your workflow )</li>
              <li><a href="https://fontawesome.com/">Font Awesome</a> ( For icon support )</li>
              <li><a href="https://unsplash.com/">Unsplash</a> ( For royalty free images )</li>
              <li><a href="https://github.com/meanthemes/meanMenu"></a>MeanMenu ( Navigation Menu for Mobile )</li>
              <li><a href="http://fitvidsjs.com/">fitvidsjs</a> ( A lightweight, easy-to-use jQuery plugin for fluid
                width video embeds. ) </li>
              <li><a href="https://michalsnik.github.io/aos/">AOS ( Animate on Scroll )</a></li>
            </ul>


            <blockquote> Get the template now from <a href="https://themeix.com">themeix.com</a></blockquote>

            <small>Published : 3 March, 2021</small>
          </div>


        </div>

        <div class="col-lg-4 col-md-5">
            {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>

  {% include cta-section.html %}