---
layout: default
home: 01
---

<!--/// Blog Area /// -->
{% include featured-widget-01.html %}

<!--/// Blog Area /// -->
<div class="blog-area">
   <div class="container">
      <div class="text-center  themeix-ads"><a href="#"><img class="lazyload" src="{{'/assets/images/blog-ads.png' | relative_url}}"
               alt="image" /></a>
      </div>
   </div>
</div>

<!--/// Blog Area /// -->
<div class="blog-area py-5 ">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-7">
            {% assign cat = "Buku" %}
            {% assign cat_slug = "buku" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 7 %}
            {% include nf-widget-01.html %}
         </div>

         <div class="col-lg-4 col-md-5">
            {% include sidebar.html %}
         </div>
      </div>
   </div>
</div>

{% assign cat = "Editors Pick" %}
{% assign cat_slug = "editors-pick" %}
{% assign posts = site.posts | where: "categories", cat %}
{% assign post_limit = 2 %}
{% include nf-widget-03.html %}

<!--/// Blog Area /// -->
<div class="blog-area py-5">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-lg-4 pb-3">
            {% assign cat = "Berita" %}
            {% assign cat_slug = "berita" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
         <div class="col-md-6 col-lg-4  pb-3"> 
            {% assign cat = "Artikel" %}
            {% assign cat_slug = "artikel" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
         <div class="col-md-6 col-lg-4  pb-3">
            {% assign cat = "Teori" %}
            {% assign cat_slug = "teori" %}
            {% assign posts = site.posts | where: "categories", cat %}
            {% assign post_limit = 3 %}
            {% include nf-widget-05.html %}
         </div>
      </div>

      {% assign cat = "Tutorial" %}
      {% assign cat_slug = "tutorial" %}
      {% assign posts = site.posts | where: "categories", cat %}
      {% assign limit = 4 %}
      {% include nf-widget-02.html %}

   </div>
</div>

{% include cta-section.html %}