---
layout: default
title: Tags
permalink: /tags
---
<!--/// Blog Area /// -->
<div class="blog-area pb-5">
    <div class="themeix-page-title-area py-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{page.title}}</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="container pt-5">
        <div class="row">
            {% assign i = 0 %}
            {% for tag in site.tags %}
                {% assign i  = i | plus:1 %}
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-style1 mb-4 border border-light">
                        <div class="feature-image">
                            <div class="image-frame image-hover-style-1">
                                <a href="{{'/tag/' | relative_url}}{{ tag[0] | slugize}}"> <img src="{{'/assets/images/tags/' | relative_url}}{{i}}.jpg" alt="{{ tag[0] }}" class="w-100"></a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4><a href="{{'/tag/' | relative_url}}{{ tag[0] | slugize}}">{{ tag[0] | capitalize }}</a></h4>
                            <span class="small badge bg-danger">{{tag[1].size}} {% if tag[1].size == 1 %}Post {% else %}Posts{% endif %}</span><br>
                            <a class="fw-bold" href="{{'/tag/' | relative_url}}{{ tag[0] | slugize}}">View all posts</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
<!--/// Blog Area /// -->

{% include cta-section.html %}