<!--/// Footer Area /// -->
<footer class="footer-area pt-5 pb-2 no-print">
    <div class="container">
      <div class="row">
        <div class="col-xxl-5 col-xl-3 col-lg-6 col-md-6 col-sm-6 pb-3  d-flex align-items-center">
          <div class="footer-widget pe-2">
            <img class="footer-logo mb-3" src="{{'/assets/images/footer-brand.png' | relative_url}}" alt="{{site.title}}">
  
            <p>BukuKelas.com menyajikan berbagai informasi tentang pendidikan</p>
  
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-6 col-md-6 col-sm-6 pb-3">
          <div class="footer-widget">
            <h4 class="mb-3">Link</h4>
            <ul class="footer-nav list-inline">
              <li><a href="{{'/' | relative_url}}">Beranda</a></li>
              <li><a href="{{'/tentang-kami' | relative_url}}">Tentang Kami</a></li>
              <li><a href="{{'/faq' | relative_url}}">FAQ</a></li>
              <li><a href="{{'/kontak' | relative_url}}">Kontak</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-3 col-lg-6 col-md-6 col-sm-6 pb-3">
          <div class="footer-widget">
            <h4 class="mb-3">Social Media</h4>
            <ul class="footer-nav list-inline">

              {% if site.facebook %}
                <li><a href="{{site.facebook | relative_url}}"><span class="icon"><i class="fab fa-facebook-f"></i></span>Facebook</a></li>
              {% endif %}

              {% if site.twitter %}
                <li><a href="{{site.twitter | relative_url}}"><span class="icon"><i class="fab fa-twitter"></i></span>Twitter</a></li>
              {% endif %}

              {% if site.instagram %}
                <li><a href="{{site.instagram | relative_url}}"><span class="icon"><i class="fab fa-instagram"></i></span>Instagram</a></li>
              {% endif %}

              {% if site.linkedin %}
                <li><a href="{{site.linkedin | relative_url}}"><span class="icon"><i class="fab fa-linkedin"></i></span>Linkedin</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
  
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6 pb-3 ">
          <div class="footer-widget">
            <h4 class="mb-3">Kontak Info</h4>
            <ul class="footer-nav list-inline">
              <li><a href="#"><span class="icon"><i class="fas fa-map-pin"></i></span>Ciamis, Jawa Barat</a></li>
              <li><a href="#"><span class="icon"><i class="fas fa-envelope-open"></i></span>wahyu243@gmail.com</a></li>
              <li><a href="#"><span class="icon"><i class="fas fa-phone"></i></span>+62 83101681430</a></li>
             <!--- <li><a href="#"><span class="icon"><i class="fas fa-fax"></i></span>+1 (123) 123 456</a></li> --->
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mt-4 border-1 border-top pt-2 border-light">
          <div class="footer-copyright text-sm  text-center"> <span>
              <p>&copy; <span id="spanYear"></span> BukuKelas -
                <span>Developed with <i class="fa fa-heart text-danger"></i> by <a target="_blank"
                    href="https://bukukelas.com">BukuKelas.Com</a> <br>&amp; </span><span class="small">Published with
                  <a target="_blank" href="https://getbootstrap.com/">Bootstrap 5</a></span>
              </p>
            </span></div>
        </div>
      </div>

      <a href="#" class="footer-back"><i class="fas fa-chevron-up"></i></a>

    </div>
  </footer>