<header class="header-area">

    <div class="header-navbar-middle d-none d-lg-block">
        <div class="container">
            <div class="navbar-brand-wrapper py-3 d-flex justify-content-center align-items-center">
                <a class="navbar-brand" href="{{'/' | relative_url}}">
                    <img class="lazyload" src="{{site.logo | relative_url}}" alt="{{site.title}}">
                </a>
            </div>
        </div>
    </div>
    <div class="header-navbar-bottom pt-2 pt-lg-0 border-top border-light">
        <div class="container themeix-menu-selector">
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="main_nav">
                    {% include navigation.html %}
                </div>
                {% if page.home != 4 and page.home != 5 %}
                    <div class="search-modal" data-bs-toggle="modal" data-bs-target="#search-modal"><a class="nav-link" href="#"> <i class="fas fa-search"></i> </a>
                </div>
                {% endif %}
            </nav>
            {% include modal-search.html %}
        </div>
    </div>
</header>

