---
layout: default
template: author
---

{% assign author_posts = site.posts | where: 'author_id', page.author_id %}
<!--/// Blog Area /// -->
<div class="blog-area pb-5">
    <div class="themeix-page-title-area py-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="author-name-full mb-2"><img class="avata-big rounded-circle"
                            src="{{page.image | relative_url}}" alt="{[page.name]}" />
                        <div class="author-bio-content">
                            <h2>{{page.name}}</h2>
                            {% if page.bio %}
                                <p>{{page.bio}} </p>
                            {% endif %}
                        </div>
                    </div>
                    <ul class="list-inline m-0">

                        <li class="list-inline-item"><a class="btn btn-danger btn-sm btn-fc text-light" href="{{page.facebook | relative_url}}"><i
                                    class="me-1 fab fa-facebook-f"></i>Share</a></li>
                        <li class="list-inline-item"><a class="btn btn-success btn-sm btn-twi text-light" href="{{page.twitter | relative_url}}"><i
                                    class="me-1 fab fa-twitter"></i> Tweet</a></li>
                        <li class="list-inline-item"><a class="btn btn-danger btn-sm text-light" href="{{page.pinterest | relative_url}}"><i
                                    class="me-1 fab fa-pinterest"></i>Pin it</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="row infinite-scroll">
                    {% for post in author_posts %}
                        <div class="col-md-12 post-item">
                            {% include blog-style/blog-style-02.html %}
                        </div>
                    {% endfor %}
                </div>
                {% include pagination.html %}
            </div>
            <div class="col-lg-4 col-md-5">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>