---
layout: compress
---


<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: 'id' }}">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="{{ site.google_verification }}">
    <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}

    <!--  Add Favicon -->
	<link rel="icon" type="image/x-icon" href="/favicon.ico" /> 
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png ">
	<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png ">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">

    <!-- Google fonts -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com"> 
	<!-- Google API -->
	<link rel="dns-prefetch" href="//apis.google.com">
	<link rel="dns-prefetch" href="//d33wubrfki0l68.cloudfront.net"> 
	<!-- Google Fonts -->
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com" 
	<!-- Google Analytics -->
	<link rel="dns-prefetch" href="//www.google-analytics.com"> 
	<!-- Google Tag Manager -->
	<link rel="dns-prefetch" href="//www.googletagmanager.com"> 
	<!-- Google Publisher Tag -->
	<link rel="dns-prefetch" href="//www.googletagservices.com"> 
	<!-- Google AdSense -->
	<link rel="dns-prefetch" href="//adservice.google.com">
	<link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
	<link rel="dns-prefetch" href="//tpc.googlesyndication.com"> 
	<!-- DoubleClick -->
	<link rel="dns-prefetch" href="//ad.doubleclick.net">
	<link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
	<link rel="dns-prefetch" href="//stats.g.doubleclick.net">
	<link rel="dns-prefetch" href="//cm.g.doubleclick.net">
	<link href="//bukukelas.com" rel="dns-prefetch">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <!-- gulp:css -->
    <link rel="stylesheet" href="{{'/assets/css/app.min.css' | relative_url}}">
    <!-- endgulp -->

    {% feed_meta %}

{% include gtag-manager.html %}
</head>

<body>
    <!--/// Header Area /// -->
    <div class="preloader">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {% if page.home == 3 or page.home == 4 or page.home == 5 %}
    {% include header-2.html %}
    {% else %}
    {% include header.html %}
    {% endif %}

    {{content}}

    {% include footer.html %}

    <!--=========== JS Add ==========-->
    <!-- gulp:js -->
    <script src="{{'/assets/js/build.min.js' | relative_url}}"></script>
    <!-- endgulp -->

</body>

</html>